body {
  color: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {}

#rightColumn {
  /* margin-left: 1%; */
}

table, th, td {
  border: 1px solid black;
}

.header td {
  font-weight: bold;
}

span {
  font-size: 0.8em;
  color: rgba(200, 0, 0, 1);
}

.innerRow {
  display: flex;
  flex-direction: row;
}

.innerColumn {
  width: 33.3%;
}

input[type="submit"] {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  width: 100%;
  color: rgba(90, 140, 140, 1);
  font-size: 1em;
  padding: 0.7em;
  border-radius: 0.2em;
}